{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}

{{ form_start(createProduct) }}

<button type="submit">Ajouter le produit</button>

{{ form_end(createProduct) }}

{% endblock %}
